<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>JarOfHyms</title>
  <meta name="description" content="JarOfHyms">
  <meta name="author" content="Arnv">

  <meta property="og:title" content="JarOfHymns">
  <meta property="og:type" content="website">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/styles.css?v=1.0">
<script src="/static/tailwind.js"></script>
{%block head%}
{%endblock%}
</head>

<body background='/static/back.jpg' class="bg-no-repeat bg-cover">
	<nav class="flex py-2 px-2 bg-slate-900 text-gray-500">
		<span class="flex py-2 px-2">JarOfHyms</span>
		<ul class="flex py-2 px-2">
			<li class="flex rounded py-2 px-2 bg-slate-600 hover:bg-slate-700 text-black">Home</li>&nbsp;
			<li class="flex rounded py-2 px-2 bg-slate-600 hover:bg-slate-700 text-black">Our Team</li>&nbsp;
			<li class="flex rounded py-2 px-2 bg-slate-600 hover:bg-slate-700 text-black">Terms and Condition</li>&nbsp;
		</ul>
		<button class="py-4 px-2 flex bg-slate-800 hover:bg-slate-900 rounded float-right" style="float:right" >Login or Signup =></button>
	</nav>
{%block body%}
{%endblock%}
  <script src="js/scripts.js"></script>
</body>
</html>

